.footer {
  padding: 20px;
}

.footer__inner {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 10px 30px;
  border-radius: 20px;
  box-shadow: 0 0 5px 2px #032a2971;
  background: var(--color-main);
}

@media (min-width: 430px) {
  .footer__inner {
    justify-content: flex-end;
  }
}

@media (max-width: 430px) {
  .footer__inner {
    justify-content: space-evenly
  }
}