.main {
}

.description {
  
  max-width: 700px;
}

@media (min-width: 430px) {
  .description {
    padding-top: 7%;
  }
}

@media (max-width: 430px) {
  .description {
    padding-top: 0;
  }
}

.link {
  display: flex;
  align-items: center;
  gap: 15px;
  transition: 0.2s;
  color: var(--color-text-second);
}

.link:hover {
  color: #d8bd72;
}

.link:hover .link__icon{
  color: #6464fcf7;
}

.link__icon {
  color: black;
  padding: 7px;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: #dcdcdc;
  transition: 0.2s;
}

.title {
  text-align: center;
}
